@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(../fonts/Lato-Regular.ttf) format('truetype');
  }

.nav{
    background-color: white;
    text-transform: uppercase;
    font-family: Lato, Arial, serif;
}

.navchild{
    color: #252525!important;
}

.navchild:hover{
    color: #8367D8!important;
}

.branding{
    color: #8367D8!important;
    margin-left: 0;
}

.bars{
    width: 100%;
}

.rowfit{
    display: flex;
    align-items: center;
    width: 100%;
}

.activechild{
    color: #8367D8!important;
}

